body{
   max-width: 100%;
   margin: auto;
   text-align: center;
   font-family: sans-serif;
}
header{
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 90%;
    margin-top: 15px;
}
ul{
    list-style-type: none;
    width: 49%;
    float: right;
    text-align: right;
    padding: 15px 15px;
    
}
li{
    display: inline-block;
    padding-right: 15px;
   color: grey;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
.eth{
    width: 35px;
    height: 55px;
    float: left;
    padding: 15px 15px;
}
.sign{
    border: 3px solid grey;
    border-radius: 15px;
    text-transform: uppercase;
    transition: 0.3s;
}
.container{
    display: flex;
    width: 85%;
    text-align: center;
    margin: auto;
}
h1{
    width: 45%;
    display: inline-block;
    font-size: 100px;
    color: grey;
    margin-bottom: 0px;
}
p{
    color: grey;
    font-size: 35px;
}
.head{
    width: 45%;
    margin: auto;
    text-align: left;
    margin-left: 0px;
}
.img{
    width: 45%;
    display: inline-block;
    float: left;
}
img{
    width: 100%;
    
}
.list li.sign:hover{
    background-color: grey;
    color: white;
}
.list li.sign:active{
    background-color: white;
    color: grey;
   
}